initial-objects/schema-extensibility-upeu.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>

<!-- Se trata de un esquema en tiempo de ejecución que define los tipos de datos utilizados
 en la <extensión> de los objetos. Se utiliza en algunas muestras incorporadas. -->

<xsd:schema elementFormDefault="qualified"
            targetNamespace="https://midpoint.upeu.edu.pe/xml/ns/midpoint/schema"
            xmlns:tns="https://midpoint.upeu.edu.pe/xml/ns/midpoint/schema"
            xmlns:a="http://prism.evolveum.com/xml/ns/public/annotation-3"
            xmlns:c="http://midpoint.evolveum.com/xml/ns/public/common/common-3"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <xsd:complexType name="UserExtensionType">
        <xsd:annotation>
            <xsd:appinfo>
                <a:extension ref="c:UserType"/>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="dateOfBirth" type="xsd:dateTime" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>Fecha de nacimiento</a:displayName>
                        <a:help>Fecha de nacimiento del estudiante</a:help>
                        <a:displayOrder>200</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="gender" type="xsd:string" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>Género</a:displayName>
                        <a:help>Género del estudiante</a:help>
                        <a:displayOrder>205</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="cardNumber" type="xsd:string" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>Número de carnet</a:displayName>
                        <a:help>Número de carnet universitario del estudiante</a:help>
                        <a:displayOrder>235</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="creation_date" type="xsd:dateTime" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>Fecha de creación</a:displayName>
                        <a:help>Fecha de creación del usuario</a:help>
                        <a:displayOrder>245</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="email2" type="xsd:string" minOccurs="0" a:maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>Correo electrónico secundario</a:displayName>
                        <a:help>Correo electrónico secundario del estudiante</a:help>
                        <a:displayOrder>450</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="sede" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>sede</a:displayName>
                        <a:displayOrder>455</a:displayOrder>
                        <a:help>Sede UPeU</a:help>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="facultyShortName" type="xsd:string" minOccurs="0" a:maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>Sigla de la facultad</a:displayName>
                        <a:displayOrder>460</a:displayOrder>
                        <a:help>Sigla de la facultad a la que pertenece el estudiante</a:help>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="jobCode" type="xsd:string" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>Job code</a:displayName>
                        <a:displayOrder>470</a:displayOrder>
                        <a:help>
                            Código de area o código de programa académico
                        </a:help>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="academicProgrammeShortName" type="xsd:string" minOccurs="0" a:maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>program short name</a:displayName>
                        <a:displayOrder>475</a:displayOrder>
                        <a:help>
                            Nombre codificado del programa académico registrado en Sunedu
                        </a:help>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="academicProgrammeName" type="xsd:string" minOccurs="0" a:maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>Nombre del programa</a:displayName>
                        <a:displayOrder>480</a:displayOrder>
                        <a:help>Nombre del programa académico del estudiante</a:help>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="modalidad_estudio" type="xsd:string" minOccurs="0" a:maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>Modalidad de estudio</a:displayName>
                        <a:help>Modalidad de estudio del estudiante</a:help>
                        <a:displayOrder>485</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="contractExpiryDate" type="xsd:dateTime" minOccurs="0" a:maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>Fecha de vencimiento del contrato</a:displayName>
                        <a:displayOrder>490</a:displayOrder>
                        <a:help>Fecha de vencimiento del contrato del estudiante</a:help>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>            
            <xsd:element name="countryOfResidence" type="xsd:string" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>País</a:displayName>
                        <a:help>País de residencia del estudiante</a:help>
                        <a:displayOrder>495</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="provinceOfResidence" type="xsd:string" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>Provincia</a:displayName>
                        <a:help>Region donde vive el estudiante</a:help>
                        <a:displayOrder>500</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="cityOfResidence" type="xsd:string" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>Ciudad</a:displayName>
                        <a:help>Ciudad donde vive el estudiante</a:help>
                        <a:displayOrder>501</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>              
            <xsd:element name="postalAddress" type="xsd:string" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>postal address</a:displayName>
                        <a:help>Dirección del estudiante</a:help>
                        <a:displayOrder>505</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="primaryAffiliation" type="xsd:string" minOccurs="0" a:maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>Afiliación principal</a:displayName>
                        <a:help>Relación principal de la persona con la institución. Ej, profesores, estudiantes, personal, alumnos, miembros, afiliados, empleados, asistentes a la biblioteca, exalumno, etc</a:help>
                        <a:displayOrder>506</a:displayOrder>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="RoleExtensionType">
        <xsd:annotation>
            <xsd:appinfo>
                <a:extension ref="c:RoleType"/>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="autoassignJobCode" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>Autoassign job code</a:displayName>
                        <a:help>
                            Código de trabajo para la autoasignación de roles.
                            Los roles que tengan especificado este job code serán automáticamente
                            asignados a los usuarios que tengan el mismo job code.
                        </a:help>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

</xsd:schema>
